*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
}
html , body{
  height: 295%;
  width: 100vh;
  background-color: black;
}

/*** header***/

header{
  height: 100px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo{
     margin : 9px 22% 0 20px;
}
header .logo img{
  width: 200px;
}

header .pogo{
  display: flex ;
  margin-left: 25%;
}
header .select .opt{
         background-color: black;
         padding: 8px 26px;
         border-radius: 5px;
         font-size: 1rem ;
}
header div .btn button{
        background-color: red;
        padding: 8px 15px;
        border-radius: 5px ;
        margin-left: 20px ;
        font-size: 1rem
}

/*** First div***/

.First{
  position: relative;
  height: 82vh ;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-bottom: 7.5px solid rgb(50,50,50);
}
.First h1{
  font-size: 52px;
  text-align: center;
  line-height: 1.4;
}

.First p{
  font-size: 25px;
  margin-top: 20px;
  font-weight: 100;
}

.First h3{
  font-size: 20px;
  margin-top: 28px;
  font-weight: 100;
}
.innn{
  margin-top: 15px;
}
.First input{
  width: 400px;
  height: 60px;
  padding-left: 15px;
  font-size: 1rem;
  border-radius: 7.5px;
  background-color: black;
  border:1px solid grey;
}
.First button{
  width: 225px;
  height: 60px;
  background-color: red;
  font-size: 1.45rem;
  font-weight: 700;
  border-radius: 7.5px;
}

/**** Second ****/

.Second{
  position: absolute;
  height: 80vh;
  width: 100%;
  margin-top: 100px;
}
.Two{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 7.5px solid rgb(50,50,50);
}
.maintwo {
  height: 220px;
  max-width: 520px;
  margin-left: 25px;
}
.maintwo h2{
  font-size: 52px;
}
.maintwo p{
  font-size: 25px;
  margin-top: 20px;
  line-height: 1.4;
}

.imgone img{
     width: 520px;
}

/**** Third *****/

.Third{
  position: relative;
  top: 8%;
  height: 80vh;
  width: 100vw;
  border-bottom: 7.5px solid rgb(50,50,50);
}

.Three{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
}
.imgtwo img{
   width:  520px;
}

.mainthree {
       height:235px ;
       width: 520px;
}
.mainthree h2{
   font-size: 48px;
}
.mainthree p{
   font-size: 25px;
   margin-top: 16px;
}
.additionalbox{
   height: 100px;
   width: 335px;
   padding: 8px 12px;
   background-color: black;
   border: 1px solid rgb(100,100,100);
   border-radius: 8px;
   position: relative;
   bottom: 125px;
   left: 90px;
 }
 .additionalbox img{
   height: 72px;
   width: 52px;

 }
 .R{
    position: relative;
    bottom: 60px;
    left: 75px;
}
.additionalbox  .RRRR{
  color: #0071eb ;
  margin-top: 5px;
}

/**** Fourth ****/

.Fourth{
  position: relative;
  height: 80vh;
  width: 100vw;
  top: 9% ;
  background-color: transparent;
  border-bottom: 7.5px solid rgb(50,50,50);
}
.Four{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainfour{
   width: 520px;
   height: 170px ;
}
.mainfour h2{
  font-size: 48px
}
.mainfour p{
  font-size: 24px;
  margin-top: 20px;
}
.Four img{
  width: 520px;
}

/**** Fifth ****/

.Fifth{
  position: relative;
  top: 10%;
  width: 100vw;
  height: 80vh;
  border-bottom: 7.5px solid rgb(50,50,50);
  margin-top: 5%;
}
.Five{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mainfive{
        width: 520px;
        height: 270px;
}
.Five img{
  width: 511px;
}

.mainfive h2{
  font-size: 48px;
}
.mainfive p{
  font-size: 24px;
  margin-top: 10px
}

/**** FAQs ****/

.Big{
  position: relative;
  top: 12%;
  height: 130vh;
  width: 100vw;
  border-bottom: 7.5px solid rgb(50,50,50);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Pig{
  height: 780px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Pig h2{
  font-size: 48px;
  margin-bottom: 5%;
  margin-top: -3.5%;
  display: flex;
  justify-content: space-between;
}
.Pig .btn {
     background-color: rgb(45,45,45);
     width: 80vw;
     height: 84px;
     margin: 2.5px 0;
     text-align: left;
     padding: 24px;
}
.Pig .btn span{
  color: white;
  font-size: 24px;
}
.Pig .btn .plus{
     font-size: 35px;
     position: absolute;
     right: 15%;
}
.formagain{
  height: 100px;
  width: 920px;
  position: relative;
  bottom: 80px;
}
.innnn {display: flex;
flex-direction: row;
justify-content: center;
}
.innnn .ipt{
  width: 380px;
  height: 60px;
  padding-left: 15px;
  font-size: 1rem;
  border-radius: 7.5px;
  background-color: black;
  border:1px solid grey;
}
.formagain h3{
  font-weight: 100;
  display: flex;
  font-size: 20px;
  justify-content: center;
  margin-bottom: 18px;
}
.innnn button{
  width: 220px;
  height: 60px;
  background-color: red;
  font-size: 1.45rem;
  font-weight: 700;
  border-radius: 7.5px;
  margin-left: 5px;
}

/*** Footer ****/

footer{
  position: relative;
  top: 12%;
  left: 5%;
  width: 1200px;
  height: 300px;
  margin: 72px 0;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  font-size: 0.75rem;
}

footer .Help{
        position: relative;
        top: 10px;
        padding: 15px;
        color: rgba(255, 255, 255, 0.7);
}
.Help a{
  color: rgba(255, 255, 255, 0.7);
}
footer .tbl {
  display: flex;
}
footer .tbl ul{
  list-style: none;
  margin: 30px 160px 0 10px;
}
footer .tbl ul li{
  margin-bottom: 15px;

}
.tbl a{
  color: rgba(255, 255, 255, 0.7);
}
.optt{
         background-color: black;
         padding: 8px 26px;
         border-radius: 5px;
         font-size: 1rem ;
         margin-top: 20px;
}
footer .logot{
  margin:20px 0px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
}
.tbl a:active{
     color: red;
}
